/*
Colors: 
- Primary: #e67e22
- Tints:
- Shades: 
- Accents: 
- Grays
#555
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}